@import "../../assets/utils.sass"

.notes_list
  background: $col3
  padding: 50px
  border-radius: 20px
  h1
    font-weight: 800
    font-size: 120%
  th, td
    text-align: left
    padding-right: 40px